@mixin abstract-card() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
  margin: $sp-4 (-$gutter-spacing-sm);

  @include mq(md) {
    border-radius: $border-radius;
    margin: $sp-4 0;
  }
}

%card {
  @include abstract-card();
  border-top: 3px solid $purple-000;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 0 $sp-4;
  position: relative;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  word-wrap: break-word;

  &:hover {
    box-shadow: 0 4px 8px rgba($grey-dk-300, 0.06), 0 12px 28px rgba($grey-dk-300, 0.1);
    transform: translateY(-2px);
  }

  >:first-child {
    border-top: none !important;
  }

  >:last-child {
    border-bottom: none !important;
  }

  .label {
    border-radius: $border-radius;
    margin-left: 0;
    user-select: none;
  }
}
